/* Base Styles */

* {
  box-sizing: border-box;
}

h1 {
  
  color: #000000;
}

body {
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}


p {
  padding: 10px;
  margin: 0;
}

.container {
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

section {
  border: 1px solid #ffffff#ffffff;
  background-color: #d3d3d3;
  width: 100%;
  height: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  position: relative;
  overflow: auto;
}

#chicken, #beef, #sushi {
	font-family:;
	font-size:1.8em;
	font-weight: bold;
}
#chicken-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#beef-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#sushi-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

.navbar-brand {
  font-size: 2em;
  border: 0 0 10px 10px;
  color: #ffffff;
}
 
#collapsable-nav #nav-list{
	background-color:#FFFFFF;
}

#header-nav {
  border: 0;
  background-color: #f6b319;
  color: #FFFFFF;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}



.nav-brand {
  color: #FFFFFF;
  font-size: 1.5em;
}


hr {
  border-color: #000000;
}

.item {
  color: #000000;
  font-size: 1.4em;
}